
body{
    /* background-color: #f1f3f4; */
    font-family: sans-serif;
}

/********************************************************CartPage************************************************************/
.cart-product{
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  background: #fff;
  box-shadow: 1px 1px 2px 2px #c0c0c0 !important;
}

.cart .price{
  background: #fff;
  margin-left: 30px !important;
  box-shadow: 1px 1px 2px 2px #c0c0c0 !important;
}

.cart-header{
  background: #fff;
}

.cart-header label{
  margin: 15px 0 !important;
  margin-left: 5px !important;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.cart .price .label1{
  margin: 15px 0 !important;
  margin-left: 5px !important;
  color: #a0a0a0;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.cart .price label{
  margin-left: 5px !important;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
